<section class='navbar navbar-fixed-top custom-navbar' role='navigation'>
  <div class='container'>
    <div class='navbar-header'>
      <button class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse'>
        <span class='icon icon-bar'></span>
        <span class='icon icon-bar'></span>
        <span class='icon icon-bar'></span>
      </button>
      <a href='#' class='navbar-brand'>Деревенька</a>
    </div>
    <div class='collapse navbar-collapse'>
      <ul class='nav navbar-nav navbar-right'>
        <li><a href='#main' class='smoothScroll'>Главная</a></li>
        <li><a href='#work' class='smoothScroll'>Подробнее</a></li>
        <li><a href='#about' class='smoothScroll'>О нас</a></li>
        <li><a href='#map' class='smoothScroll'>Карта</a></li>
        <li><a href='#portfolio' class='smoothScroll'>Наши объекты</a></li>
        <li><a href='#contact' class='smoothScroll'>Контакты</a></li>
      </ul>
    </div>
  </div>
</section>
