<section id='about'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12 col-sm-12 text-center'>
        <div class='section-title'>
          <strong>О нас</strong>
          <h1 class='heading bold'>Краткая информация</h1>
          <hr>
        </div>
      </div>
      <div class='col-md-6 col-sm-12'>
        <img src='/assets/about-img.jpg' class='img-responsive' alt='about img'>
      </div>
      <div class='col-md-6 col-sm-12'>
        <h3 class='bold'>Деревенька</h3>
        <h1 class='heading bold'>Лучшее место для дома</h1>
        <!-- Nav tabs -->
        <ul class='nav nav-tabs' role='tablist'>
          <li class='active'><a href='#design' aria-controls='design' role='tab' data-toggle='tab'>Образование</a></li>
          <li><a href='#mobile' aria-controls='mobile' role='tab' data-toggle='tab'>Опыт работы</a></li>
          <li><a href='#social' aria-controls='social' role='tab' data-toggle='tab'>Деятельность</a></li>
        </ul>
        <!-- tab panes -->
        <div class='tab-content'>
          <div role='tabpanel' class='tab-pane active' id='design'>
            <p>Текст когда образовались</p>
            <p>Еще один абзац</p>
          </div>
          <div role='tabpanel' class='tab-pane' id='mobile'>
            <p>Большой опыт работы</p>
            <p>Еще один большой опыт работы</p>
          </div>
          <div role='tabpanel' class='tab-pane' id='social'>
            <p>Широкая деятельность</p>
            <p>Еще о деятельности</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
