<section id='contact'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12 col-sm-12 text-center'>
        <div class='section-title'>
          <strong>Наши контакты</strong>
          <h1 class='heading bold'>Заполните анкету и мы получим ваше сообщение</h1>
          <hr>
        </div>
      </div>
      <div class='col-md-6 col-sm-12 contact-info'>
        <h2 class='heading bold'>CONTACT INFO</h2>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia deserunt mollit anim id.</p>
        <div class='col-md-6 col-sm-4'>
          <h3><i class='icon-envelope medium-icon wow bounceIn' data-wow-delay='0.6s'></i> EMAIL</h3>
          <p>hello@company.com</p>
        </div>
        <div class='col-md-6 col-sm-4'>
          <h3><i class='icon-phone medium-icon wow bounceIn' data-wow-delay='0.6s'></i> PHONES</h3>
          <p>010-020-0340 | 090-080-0760</p>
        </div>
      </div>
      <div class='col-md-6 col-sm-12'>
        <form action='#' method='get' class='wow fadeInUp' data-wow-delay='0.6s'>
          <div class='col-md-6 col-sm-6'>
            <input type='text' class='form-control' placeholder='Name' name='name'>
          </div>
          <div class='col-md-6 col-sm-6'>
            <input type='email' class='form-control' placeholder='Email' name='email'>
          </div>
          <div class='col-md-12 col-sm-12'>
            <textborea class='form-control' placeholder='Message' rows='7' name='message'></textarea>
          </div>
          <div class='col-md-offset-4 col-md-8 col-sm-offset-4 col-sm-8'>
            <input type='submit' class='form-control' value='SEND MESSAGE'>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
