<div id='portfolio'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12 col-sm-12'>
        <div class='section-title'>
          <strong>Реализованные объекты</strong>
          <h1 class='heading bold'>Различного вида сложности</h1>
          <hr>
        </div>
        <!-- ISO section -->
        <div class='iso-section'>
          <ul class='filter-wrapper clearfix'>
            <li><a href='#' data-filter='*' class='selected opc-main-bg'>All</a></li>
            <li><a href='#' class='opc-main-bg' data-filter='.html'>HTML</a></li>
            <li><a href='#' class='opc-main-bg' data-filter='.photoshop'>Photoshop</a></li>
            <li><a href='#' class='opc-main-bg' data-filter='.wordpress'>Wordpress</a></li>
            <li><a href='#' class='opc-main-bg' data-filter='.mobile'>Mobile</a></li>
          </ul>
          <div class='iso-box-section wow fadeIn' data-wow-delay='0.9s'>
            <div class='iso-box-wrapper col4-iso-box'>

              <div class='iso-box html wordpress mobile col-lg-4 col-md-4 col-sm-6'>
                <a href='/assets/portfolio-img1.jpg' data-lightbox-gallery='portfolio-gallery'><img src='/assets/portfolio-img1.jpg' alt='portfolio img'></a>
              </div>

              <div class='iso-box wordpress col-lg-4 col-md-4 col-sm-6'>
                <a href='/assets/portfolio-img2.jpg' data-lightbox-gallery='portfolio-gallery'><img src='/assets/portfolio-img2.jpg' alt='portfolio img'></a>
              </div>

              <div class='iso-box html mobile col-lg-4 col-md-4 col-sm-6'>
                <a href='/assets/portfolio-img3.jpg' data-lightbox-gallery='portfolio-gallery'><img src='/assets/portfolio-img3.jpg' alt='portfolio img'></a>
              </div>

              <div class='iso-box wordpress col-lg-4 col-md-4 col-sm-6'>
                <a href='/assets/portfolio-img4.jpg' data-lightbox-gallery='portfolio-gallery'><img src='/assets/portfolio-img4.jpg' alt='portfolio img'></a>
              </div>

              <div class='iso-box html photoshop col-lg-4 col-md-4 col-sm-6'>
                <a href='/assets/portfolio-img5.jpg' data-lightbox-gallery='portfolio-gallery'><img src='/assets/portfolio-img5.jpg' alt='portfolio img'></a>
              </div>

              <div class='iso-box photoshop col-lg-4 col-md-4 col-sm-6'>
                <a href='/assets/portfolio-img6.jpg' data-lightbox-gallery='portfolio-gallery'><img src='/assets/portfolio-img6.jpg' alt='portfolio img'></a>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
