<section id='work'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12 col-sm-12'>
        <div class='section-title'>
          <strong>Подробнее</strong>
          <h1 class='heading bold'>Ключевые особенности</h1>
          <hr>
        </div>
      </div>
      <div class='col-lg-4 col-md-4 col-sm-4 wow fadeInUp' data-wow-delay='0.6s'>
        <i class='icon-cloud medium-icon'></i>
        <h3>WEB MARKETING</h3>
        <hr>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia.</p>
      </div>
      <div class='col-lg-4 col-md-4 col-sm-4 wow fadeInUp' data-wow-delay='0.9s'>
        <i class='icon-mobile medium-icon'></i>
        <h3>UI &amp; UX DESIGN</h3>
        <hr>
        <p>Digital Team is free responsive Bootstrap v3.3.5 layout from <a rel='nofollow' href='http://www.tooplate.com' target='_parent'>Tooplate</a>. Images are from <a rel='nofollow' href='http://pixabay.com' target='_parent'>Pixabay</a> free photo website.</p>
      </div>
      <div class='col-lg-4 col-md-4 col-sm-4 wow fadeInUp' data-wow-delay='1s'>
        <i class='icon-laptop medium-icon'></i>
        <h3>ECOMMERCE</h3>
        <hr>
        <p>You can edit and use this template for your websites. Please tell your friends about Tooplate. Thank you for visiting our website.</p>
      </div>
      <div class='col-lg-4 col-md-4 col-sm-4 wow fadeInUp' data-wow-delay='1s'>
        <i class='icon-compass medium-icon'></i>
        <h3>MOBILE APP</h3>
        <hr>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia.</p>
      </div>
      <div class='col-lg-4 col-md-4 col-sm-4 wow fadeInUp' data-wow-delay='1s'>
        <i class='icon-chat medium-icon'></i>
        <h3>SOCIAL MEDIA</h3>
        <hr>
        <p>You can easily change icons by looking at <a href='https://www.elegantthemes.com/blog/resources/how-to-use-and-embed-an-icon-font-on-your-website' target='_blank'>ET Line Icons</a>. Excepteu sunt in culpa qui officia. Duis aute irure dolor in reprehenderit.</p>
      </div>
      <div class='col-lg-4 col-md-4 col-sm-4 wow fadeInUp' data-wow-delay='1s'>
        <i class='icon-browser medium-icon'></i>
        <h3>RESPONSIVE LAYOUT</h3>
        <hr>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteu sunt in culpa qui officia.</p>
      </div>
    </div>
  </div>
</section>
